/* src/components/StripePayment.css */
#stripe-form {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #32325d; /* Stripe dark blue color */
  }
  
  button {
    background-color: #6772e5;
    border-color: #6772e5;
  }
  
  button:hover {
    background-color: #5469d4;
    border-color: #5469d4;
  }
  
  .text-center {
    text-align: center;
  }
  